*.zip
/.env
# Intellij IDEA
/.idea/
# Local documentation decompiled engine
/docs/
game_sounds_music_dlc3.txt
game_sounds_music_dlc1.txt
game_sounds_music.txt
game_sounds_music_dlc2.txt
tutorial/UI2.xcf
